---
import BaseLayout from '../../layouts/BaseLayout.astro';
const built = "2025-09-29 18:53:19";
---
<BaseLayout>
  <section class="py-16"><div class="container">
    <h1 class="text-3xl font-semibold">Current Build</h1>
    <p class="mt-2">Gallery static paths build at: <strong>{built}</strong></p>
  </div></section>
</BaseLayout>
