---
import BaseLayout from '../../layouts/BaseLayout.astro';
const built = "2025-09-29 18:44:26";
---
<BaseLayout>
  <section class="py-16"><div class="container">
    <h1 class="text-3xl font-semibold">Current Build</h1>
    <p class="mt-2">Gallery with getStaticPaths build at: <strong>{built}</strong></p>
  </div></section>
</BaseLayout>
